@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

* {
  font-family: 'Prompt', sans-serif;
}

html, body {
  height: 100%;
}

.App {
  height: 100vh;
  text-align: center;
  background-color: #212121;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

h1 {
  margin: 0;
  padding: 0;
  color: gold;
}

p {
  color: white;
}

