* {
  font-family: 'Roboto', sans-serif;
}

html, body {
  height: 100%;
  scroll-behavior: smooth;
}

.App {
  width: 100%;
  background-color: whitesmoke;
}

#footer {
  text-align: center;
  background-color: #1B1F23;
  color: #6D7570;
  padding: 0.5px;
}