@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: rgb(39 39 42);
}

::-webkit-scrollbar-thumb {
  background: #666666;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(253 224 71);
}